* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8%;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #007bff;
}

.username-btn {
  background: #e8f3ff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  color: #007bff;
}
.username-btn:hover {
  background: #e8be03;
}
.username-btn:active {
  background: #007bff;
  color: #fff;
}
.username-btn:focus {
  outline: none;
}
.hero {
 display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 8%;
    background:linear-gradient(to right, #ffffff, #f8fbf8);
}
.hero-text {
    max-width: 50%;
}
.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #000000;
}
.hero-text p {
     margin: 20px 0;
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}
.hilight {
    color: #007bff;
    font-weight: 600;
}
.cta-btn {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background 0.3s;
}
.cta-btn:hover {
    background: #0056b3;
}
.cta-btn:active {
    background:yellow;
}
.cta-btn:focus {
    outline: none;
}
.hero-image img {
    width: 300px;
    height: auto;
}
